<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>最新消息</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div id="warp">
		<div id="header">
      <div class="toplogin">
        <a href="#" title="登入管理介面">
        <img src="images/Lock.png" alt="登入管理介面" width="32" height="32" /></a>
      </div>
      <div class="logo">
				<img src="images/DWonline.png" width="180" height="40" />
			</div>
		</div>
		<div class="headings">
		  <h2>新聞系統</h2>
		</div>  
    <div class="contentbox">
      <table width="100%">
      <tr>
        <th align="left">分類</th>
        <th align="left">標題</th>
        <th align="left">時間</th>
        <th align="left">點閱</th>
      </tr>

      <% for (var i=0; i<data.length; i++) { %>
        <tr class="alt">
            <td><div class="typeblock"><%= data[i].news_type %></div></td>
            <td><a href="#"><%= data[i].news_subject %></a></td>
            <td><%= (data[i].news_date).toLocaleDateString() %></td>
            <td><%= data[i].news_hits %></td>
        </tr>
      <% } %>
      </table>
      </div>
    </div>
    <div id="footer">&copy; Copyright 2017 eHappy Studio 新聞系統</div>
	</div>
</body>
</html>